:root {
    --Main-Cyan: #2196F3;
    --Studio-Black: #000000;
    --Nav-Gray: #212121;
    --Main-Gray: #2F303A;
    --Light-Gray: #757575;
    --Footer-Info: #FFFFFF;
    --Portfolio-button: #F5F4FA;
}
body
{
    font-family: Roboto;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none;
     padding: 0;
}  
.home-img
{
    margin: 11px;
}
/* Header */
.header
{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 150px;
    margin-right: 40px;
    padding: 1px;
}
.nav-list
{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-info
{
    display: flex; 
    font-family: Roboto;
    gap: 25px;
    align-items: center;
}
.webstudio
{
    font-family: Raleway;
    font-size: 26px;
    font-weight: bold;
}
.header-info li
{
    margin-left: 25px;
}
.web 
{
    color: var(--Main-Cyan); 
    text-decoration: none; 
}
.studio
{
    color: var(--Studio-Black); 
    font-size: 25px;
} 
.header-mail
{
    color: var(--Light-Gray);
}
.header-mail:hover
{
    color: var(--Main-Cyan); transition: 0.2s;
}
.nav
{
    color: var(--Nav-Gray);
    margin-left: 50px;
    color:var(--Nav-Gray); transition: 0.2s;  
    font-family: Roboto;
    margin-left: 0;
}

.nav:hover
{
    color: var(--Main-Cyan);
}
.tel
{
    color: var(--Light-Gray);
}
/* Body */
.list-we-do
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
}
.project-list-item
{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
}
.main-portfolio-button
{
    display: flex; justify-content: center;
}
#horizontal-img
{
    display: flex; justify-content: space-evenly;
}
#horizontal-img>li
{
     margin-right: 25px; margin-top: 5px;
}
.section-decision
{
    background: var(--Main-Gray);
    justify-content: center;
    align-items: center;
    padding: 150px;
}
.effective-decision
{
    font-family: Roboto;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.order-button
{
    background-color: var(--Main-Cyan); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    font-family: Roboto;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
}
.order-button:hover
{
    background-color: #188CE8;
}
.advantages
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}
.advantages-name
{
    font-family: Roboto;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    color: var(--Nav-Gray);
}
.advantages-item
{
    font-family: Roboto;
    font-size: 14px;
    color: var(--Light-Gray);
}
.text-inverse
{
    color: white;
}
.our-team-section
{
    background-color: #F5F4FA;
}
.our-team
{
    text-align: center;
    font-family: Roboto;
}
.list-team
{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.portfolio-project-list
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.team-info
{
    color: var(--Light-Gray); 
    opacity: 60%;
}
.project-li
{
    border: solid;
    border-color: #EEEEEE;
    border-width: 1px;
    margin-bottom: 30px;
    flex-basis: calc((100% - 60px) / 3);
}
.project-info
{
    color: var(--Light-Gray); 
    font-family: Roboto;
    font-size: 16px;
}
.team-item
{
    margin: 11px;
}
.portfolio-button
{
    background-color: var(--Portfolio-button); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    margin: 5px;
}
.portfolio-button:hover
{
    background-color: var(--Main-Cyan); 
    color: #FFFFFF;
    transition: 0.2s; 
    cursor: pointer;
}
.we-do
{
    text-align: center;
    font-family: Roboto;
}
/* Footer */
.footer
{
    background-color: var(--Main-Gray);
    padding-bottom: 30px;
    padding-top: 35px;
}
.Footer-info
{
    color: var(--Footer-Info); 
    opacity: 60%;
}
#mail-footer
{
    color:white; 
    opacity: 60%;
}
#mail-footer:hover
{
    color: var(--Main-Cyan); 
    transition: 0.2s;
}
#adress
{
    text-decoration: none;
}
.webstudio-footer
{
    font-family: Raleway;
    font-size: 24px;
    font-weight: bold;
}
.container
{
    max-width: 1205px;
    padding: 0 15px;
    margin: 0 auto;
}