:root {
    --Main-Cyan: #2196F3;
    --Studio-Black: #000000;
    --Nav-Gray: #212121;
    --Main-Gray: #2F303A;
    --Light-Gray: #757575;
    --Footer-Info: #FFFFFF;
    --Portfolio-button: #F5F4FA;
}
body
{
    font-family: Roboto;
}
a
{
    text-decoration: none;
}
ul
{
    list-style: none; padding: 0%;
}  
header
{
    display: flex; justify-content: space-between;
}
section 
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.list
{ 
    display: flex
}
.img
{
    margin: 11px;
}
.nav
{
    margin-right: 25px;
}
/* Header */
#WebStudio
{
    margin-left: 100px; 
    margin-top: 10px;
    font-family: Raleway;
}
nav
{
    font-family: Roboto;
}
#header-info
{
    display: flex; 
    margin-right: 100px;
    font-family: Roboto;
}
#header-info li
{
    margin-left: 25px;
}
#mail-cyan
{
    margin-top: -2px;
}
.web 
{
    color: var(--Main-Cyan); 
    text-decoration: none; 
    font-size: 25px;
}
.studio
{
    color: var(--Studio-Black); 
    font-size: 25px;
} 
#studio-main
{
    color: var(--Main-Cyan);
}
#mail-cyan
{
    color: var(--Light-Gray);
}
#mail-cyan:hover
{
    color: var(--Main-Cyan); transition: 0.2s;
}
.nav
{
    color: var(--Nav-Gray);
}
.nav
{
    color:var(--Nav-Gray); transition: 0.2s;
}
.nav:hover
{
    color: var(--Main-Cyan);
}
#Tel
{
    color: var(--Light-Gray);
}
#portfolio-main
{
    color: var(--Main-Cyan);
}
/* Body */
.project-list
{
    margin: 11px;
}
#portfolio-button
{
    display: flex; justify-content: center;
}
#horizontal-img
{
    display: flex; justify-content: space-evenly;
}
#horizontal-img>li
{
     margin-right: 25px; margin-top: 5px;
}
#Order-Button
{
    background-color: var(--Main-Cyan); 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px; 
    margin-bottom: 150px;
    font-family: Roboto;
}
.Bg-Gray
{
    background: var(--Main-Gray);
}
#effective-decision
{
    margin-top: 125px;
    font-family: Roboto;
}
.Bg-Gray>button
{
    margin-top: 10px;
}
#effective-decision>p
{
    margin:auto; 
    margin-left: 50px;
}
#advantages
{
    display: flex;
}
.text-inverse
{
    color: white;
}
#OurTeam-bg
{
    background-color: #F5F4FA;
}
.main-info
{
    color: var(--Light-Gray); 
    opacity: 60%;
}
.portfolio-button
{
    background-color: var(--Portfolio-button); 
    border: none; 
    padding: 10px 20px; 
    border-radius: 5px;
    margin: 5px;
}
.portfolio-button:hover
{
    background-color: var(--Main-Cyan); 
    color: #FFFFFF;
    transition: 0.2s; 
    cursor: pointer;
}
/* Footer */
#footer
{
    padding-bottom: 1px;
}
footer>a
{
    font-size: 25px; 
    text-decoration: none;
}
.Footer-info
{
    color: var(--Footer-Info); 
    opacity: 60%;
}
#mail-footer
{
    color:white; 
    opacity: 60%;
}
#mail-footer:hover
{
    color: var(--Main-Cyan); 
    transition: 0.2s;
}
#adress
{
    text-decoration: none;
}
#WebStudio-footer
{
    font-family: Raleway;
}