@import "../utils/variables";
@keyframes scale {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
.back-drop
{
    display: none;
}
.visible
{
    display: flex;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #00000033;
    align-items: center;
    justify-content: center;
}
.modal
{
    padding-top: 10px;
    width: 528px;
    height: 581px;
    top: 221px;
    left: 536px;
    border-radius: 4px;    
    background-color: white;
    color: black;
    animation-name: scale;
    animation-duration: 0.5s;
}
.btn-close-position
{
    text-align: end;
    padding-right: 10px;
}
.btn-close
{
    width: 30px;
    height: 30px;
    top: 229px;
    left: 1026px;
    border: solid 1px #0000001A;
    border-radius: 50%;
    background-color: #FFFFFF;
    
}
.btn-close:hover
{
    color: $Main-Cyan;
}
.form-input
{
    width: 448px;
    height: 40px;
    border-radius: 4px;
    border: 1px #21212133 solid;
}
.input-info
{
    width: 22px;
    height: 14px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1%;
    color: var(--Light-Gray);
    margin-bottom: 4px;        
}
.name-input {
    background-image: url(./img/human-vector.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
}

.phone-input
{
    background-image: url(./img/phone.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
}
.phone-input:focus
{
    fill: currentColor;
}
.mail-input
{
    background-image: url(./img/mail.svg);
    background-repeat: no-repeat;
    background-position: 15px center;
    padding-left: 40px;
}
.modal-span
{
    color: $Main-Cyan;
    text-decoration: underline;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    text-decoration-style: solid;
    
}
.modal-label
{
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 3%;
    color: $Light-Gray;
}
.modal-btn
{
    width: 200px;
    height: 50px;
    top: 712px;
    left: 700px;
    border-radius: 4px;
    background-color: $Main-Cyan;
    color: white;
    border: none;
}
.modal-form
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-p
{
    font-family: Roboto;
    font-weight: 700;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 3%;
    text-align: center;
    color: $Nav-Gray;
    margin: 0;
}
.modal-texarea
{
    width: 448px;
    height: 120px;
    top: 518px;
    left: 576px;
    border-radius: 4px;
    border: #21212133 1px solid;
}
.section-decision
{
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 200px;
}
.effective-decision
{
    font-family: Roboto;
    text-align: center;
    color: white;
    margin-top: 0;
    margin-bottom: 45px;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: bold;
}
.order-button
{
    background-color: $Main-Cyan; 
    color: white; 
    border: none; 
    padding: 10px 25px; 
    border-radius: 4px; 
    font-family: Roboto;
    margin: 0 auto;
    display: block;
    transition: 0.3s;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 10%;
    text-align: center;
}
.order-button:hover
{
    background-color: #188CE8;
}